.main-articles {
    margin: 5% 10%;
}

.profile-img {
    /* Scale the image so it covers whole area, thus will likely crop */
    object-fit: cover;
    /* Center the image within the element */
    object-position: center;
    background-position: center center;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}

#profile-top {
    width: 100%;
}

.profile-img-container {
    text-align: center;
    vertical-align: middle;
    height: 300px;
    width: 300px;
}

.profile-text-container {
    padding-left: 15px;
    vertical-align: center;
}

.profile-text-container .profile-name {
    font-size: 48px;
    margin: 10px 0;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-text-container .profile-sub-name {
    font-size: 28px;
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-action {
    vertical-align: bottom;
    padding: 10px 0;
    text-align: right;
}

.profile-action .profile-edit-btn {
    width: 10px;
    height: 10px;
    padding: 5px 20px;
    text-decoration: none;
    color: black;
    background-color: gray;
    border-radius: 5px;
}

.article {
    padding: 0% 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.article-container {
    width: 100%;
    border: 0px;
}

.article-img {
    /* Scale the image so it covers whole area, thus will likely crop */
    object-fit: cover;
    /* Center the image within the element */
    object-position: center;
    height: 200px;
    width: 200px;
}

.article-title {
    /*  */
}

.article-content {
    /*  */
}

.article-action {
    vertical-align: bottom;
    padding: 10px 0;
    text-align: right;
}